
<!-- Swipe Instructions Start -->

<div id="swipe-instruction">
  <div>
    <p><br><br><br></p>
    <i id="hand-swipe" class="fa fa-hand-o-up"></i>
    <p><strong>
    {% if page.section-type == "blog" %}
      Sabías que puedes navegar por las páginas arrastrando a izquierda y a derecha?
    {% elsif page.section-type == "post" %}
      Sabías que pueds navegar entre los posts arrastrando a izquierda y a derecha?
    {% endif %}
    </strong></p>
    <button type="button" class="btn btn-default ok-btn close-swipe-instruction">
      {% if page.section-type == "blog" %}
        Sí, gracias!
      {% elsif page.section-type == "post" %}
        Genial!
      {% endif %}
    </button>
  </div>
</div>

<!-- Swipe Instructions End -->
