// Mixins

.text-center li,
.text-center li {
  text-align: justify;
  list-style-position: outside;
}

th, tr, td {
  border-spacing: 0px;
  padding: 5px;
  border-color: white;
  border-collapse: unset;
  border-style: solid;
  border-width: 1px;
}

table {
  margin-bottom: 25px;
}
